@model IPagedList<assetsment_Celsia.Models.Invoice>
@using X.PagedList
@{
    ViewData["Title"] = "Invoices";
}

<form asp-action="Upload" asp-controller="Excel" method="post" enctype="multipart/form-data">
    <div class="row mt-4">
        <div class="col-md-12 d-flex align-items-center">
            <div class="form-group mb-0 mr-2 me-3">
                <label for="excelFile" class="sr-only">Seleccionar archivo Excel</label>
                <input type="file" name="excelFile" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary ml-2">Subir</button>
        </div>
    </div>
</form>

<div class="card mt-4">
    <div class="card-body">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-warning">@ViewBag.Message</div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Invoice Number</th>
                        <th>Period</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.InvoiceNumber</td>
                                <td>@item.Period</td>
                                <td>
                                    <a href="#" class="btn btn-primary">Info</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No data available</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>